<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    <h1>Create a new game</h1>
    <form action="/create-submit">
        <b>Game Name</b>
        <br/>
        <input type="text" name="name">
        <br/>
        <b>Size of the game board</b>
        <br/>
        <input type="text" name="size" value="10">
        <br/>
        <input type="submit" name="create">
    </form>
</body>
</html>