<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GridGame</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    <div style="margin: auto;">
        <h1><b>GridGame Homepage</b></h1>
        <p>
            <b>Game List</b>
            <br/>
            <!--INSERT_GAME_LIST-->
        </p>
        <p>
            <a class="btn btn-primary" href="/create">Create a new game?</a>
        </p>
    </div>
</body>
</html>